h1{
    text-align: center;
    font-size: 60px;
    color: orange;
    font-weight: 400;
    font-style: italic;
}
li{
  font-family: inherit;
  font-size: 30px;
  color: black;
}
body{
  background-image: url("http://pic.lvmama.com/uploads/pc/place2/2016-09-14/9aab9bb7-2593-4ca6-8c5a-31355443aebc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
